<div class="hid">
    <p>Posted by: <span id="name">{{quote.Name}} <span id="date"> on: <span id="datecolor">{{quote.completeDate|date:'short'}}</span></span>
        </span>
    </p>
    <p>Author: <span id="name">{{quote.author}}</span></p>
    <p> Posted {{quote.completeDate|dateCount}} days ago</p>
</div>
<div class="container-fluid" id="buttons">
    <button class="btn btn-sm btn-success" (click)='upvote()'>{{quote.upvote}} <i class="fa fa-thumbs-up" id="like"></i>Likes</button>
    <button class="btn btn-sm hate" id="hate" (click)='downvote()'>{{quote.downvote}} <i class="fa fa-thumbs-down" id="dislike"></i>Dislikes</button>
    <button class="btn btn-sm btn-danger" id="del" (click)='quoteDelete(true)'><i class="fa fa-trash" id="delete">Delete</i></button>

</div>