        h1 {
            color: white;
            text-align: center;
            font-weight: bolder;
            padding-bottom: 1%;
            padding-top: 2%;
        }
        
        hr {
            color: rgb(239, 243, 9);
        }
        
        .overlay {
            background-color: rgba(0, 225, 255, 0.301);
            border-radius: 5px;
            margin-top: 4%;
            margin-left: 4%;
            margin-right: 4%;
            margin-bottom: 5%;
            padding-top: 1%;
            padding-left: 1%;
            padding-bottom: 5%;
        }
        
        .card {
            margin-bottom: 2%;
            background-color: aliceblue;
            box-shadow: 2px 2px 3px 2px black;
        }
        
        .card-text {
            font-family: 'Handlee', cursive;
            font-weight: 570;
            font-size: 18px;
        }